{% extends 'base_for_patch.html' %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <div class="card mt-5">
                    <div class="card-header">
                        <h3>{{ patch_list.name }}の詳細</h3>
                        <p>閲覧回数: {{ patch_list.views_count }}</p>
                    </div>
                    <div class="card-body">
                        <p>チェック: {% if patch_list.impact_check %}済み{% else %}未済{% endif %}</p>
                        <p>チェック項目: {{ patch_list.checks }}</p>
                        <p>リリース日: {{ patch_list.release_date }}</p>
                        <p>パッチ名: {{ patch_list.patch_name }}</p>
                        <p>パッチ番号: {{ patch_list.patch_no }}</p>
                        <p>参照URL: <a href="{{ patch_list.reference_url }}" target="_blank">{{ patch_list.reference_url }}</a>
                        </p>
                    </div>
                    <div class="card-footer">
                        {#            <a href="{% url 'patch_list:index' %}" class="btn btn-secondary">戻る</a>#}
                        <a href="{% url 'patch_list:update' patch_list.pk %}" class="btn btn-primary">編集</a>
                        <a href="{% url 'patch_list:delete' patch_list.pk %}" class="btn btn-danger"
                           onclick="if(!confirm('本当に削除しますか？')){return false;}">削除</a>
                    </div>
                </div>

                <br>
                <div class="card mt-3">
                    <div class="card-header">
                        <h3>コメント</h3>
                    </div>
                    <div class="card-body"></div>
                    {% for comment in comments %}
                        <div class="comment">
                            <p class="info"> {{ comment.author }}さんが {{ comment.created_date }} に投稿しました。</p>
                            <p> {{ comment.text | linebreaks }}</p>
                          <hr>  <!-- 区切り線を追加 -->
                        </div>
                        {#                    登録内容がなにもない場合#}
                    {% empty %}
                        <p>コメントはありません</p>
                    {% endfor %}
                </div>
            </div>
            <br>
            <div class="card mt-3">
                <div class="card-header">
                    <h3>コメントを投稿する</h3>
                </div>
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary mt-2">投稿する</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
