{% extends 'base_for_patch.html' %}

{% block content %}
    <h1>Patch List</h1>

    {#    テスト#}
    <br>
    <br>
    <a href="{% url 'patch_list:list' %}?{{ request.GET.urlencode }}&export=excel"
       class="btn btn-primary">Excelダウンロード</a>
    {#    <a href="{% url 'patch_list:list' %}?{{ request.GET.urlencode }}&export=excel">表示内容をExcelファイルでダウンロード</a>#}
    <br>
    <br>

    <table class="table table-striped">
        <form method="get" action="{% url 'patch_list:list' %}">
            <a><strong><u>条件検索（＆）</u></strong></a>
            <br>
            <br>
            <p>
                開始月:
                <input type="month" name="start_date">
                終了月:
                <input type="month" name="end_date">
            </p>
            <p>

            <p>プロダクトタイプ：
                {#            <input type="text" name="application_name">#}
                <select name="application_name">
                    <option value="">--必要に応じ選択してください--</option>
                    <option value="ACM">ACM</option>
                    <option value="CMS">CMS</option>
                    <option value="AES">AES</option>
                </select>
            </p>
            {# 追加  #}
            <p>業務影響：
                {#            <input type="text" name="application_name">#}
                <select name="impact_check">
                    <option value="">--必要に応じ選択してください--</option>
                    <option value=1>あり</option>
                    <option value=0>なし</option>
                </select>
            </p>


            <p>
                <input type="submit" value="上記内容で検索する">
            </p>


        </form>
        <tr>
            <th>Name</th>
            <th>Business impact</th>
            <th>Checks</th>
            <th>Release Date</th>
            <th>Patch Name</th>
            <th>Patch No</th>
            <th>Reference URL</th>
            <th>UPDATE</th>
            <th>DELETE</th>
        </tr>
        </thead>
        <tbody>
        {% for patch_list in object_list %}
            <tr>
                {#                <td>{{ patch_list.name }}</td>#}

                {#　チェックボックスが使えるようにする。#}
                {#            nameをクリックするとpkを取得してそれをもとに詳細画面を表示する#}
                <td><a href="{% url 'patch_list:detail' patch_list.pk %}">{{ patch_list.name }}</a></td>
                <td>
                    {% if patch_list.impact_check %}
                        <input type="checkbox" checked disabled>
                    {% else %}
                        <input type="checkbox" disabled>
                    {% endif %}
                </td>
                <td>{{ patch_list.checks }}</td>
                <td>{{ patch_list.release_date }}</td>
                <td>{{ patch_list.patch_name }}</td>
                <td>{{ patch_list.patch_no }}</td>
                {# _blankで別タブでリンク先を開くことが出来る　#}
                <td><a href="{{ patch_list.reference_url }}" target="_blank">{{ patch_list.reference_url }}</a></td>
                {#　updateするための項目            #}
                <td><a href="{% url 'patch_list:update' patch_list.pk %}">Update</a></td>
                <td><a href="{% url 'patch_list:delete' patch_list.pk %}" class="btn btn-danger"
                       onclick="if(!confirm('本当に削除しますか？')){return false;}">削除</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
