

{% extends 'base.html' %}

{% block content %}
    <h1>Patch List</h1>
    <br>
    <a href="{% url 'patch_list:list' %}">全データを再表示する</a>
    <br>
    <br>
{#    <p><a href="{{ csv_url }}">CSVで出力する</a></p>#}
    <a href="{% url 'patch_list:list' %}?{{ request.GET.urlencode }}&export=excel">表示内容をExcelファイルでダウンロード</a>
    <br>
    <br>
    <p>日付順で並び替える</p>
    <input type="radio" name="">


    <table class="table table-striped">
        <form method="get" action="{% url 'patch_list:list' %}">
            <a><strong><u>条件検索（＆）</u></strong></a>

            <p>
                開始月:
                <input type="month" name="start_date">
                終了月:
                <input type="month" name="end_date">
            </p>
            <p>


            <p>プロダクトタイプ：
                {#            <input type="text" name="application_name">#}
                <select name="application_name">
                    <option value="">--必要に応じ選択してください--</option>
                    <option value="ACM">ACM</option>
                    <option value="CMS">CMS</option>
                    <option value="AES">AES</option>
                </select>
            </p>
            {# 追加  #}
            <p>チェック有無　： <input type="text" name="patch_check"></p>
            <p>
                <input type="submit" value="上記内容で検索する">
            </p>

            {#            <label for="application-list">リストから選択</label>#}
            {#            <select id="application-list" name="application_name">#}
            {#                <option value="app1">ACM</option>#}
            {#                <option value="app2">CMS</option>#}
            {#                <option value="app3">AES</option>#}
            {#            </select>#}


        </form>
        <tr>
            <th>Name</th>
            <th>Checks</th>
            <th>Release Date</th>
            <th>Patch Name</th>
            <th>Patch No</th>
            <th>Reference URL</th>
        </tr>
        </thead>
        <tbody>
        {% for patch_list in object_list %}
            <tr>
                <td>{{ patch_list.name }}</td>
                <td>{{ patch_list.checks }}</td>
                <td>{{ patch_list.release_date }}</td>
                <td>{{ patch_list.patch_name }}</td>
                <td>{{ patch_list.patch_no }}</td>
{# _blankで別タブでリンク先を開くことが出来る　#}
              <td> <a href="{{ patch_list.reference_url }}" target="_blank">{{ patch_list.reference_url }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
